<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품 수정</title>
</head>
<body>
<h1>상품 수정</h1>
    <form name="productfrm">
        <div>상품명 : <input type="text" name="name" id="name"></div>
        <div>상품설명 : <input type="text" name="desc" id="desc"></div>
        <div>가격 : <input type="number" name="price" id="price"></div>
        <div>제조원 : <input type="text" name="maker" id="maker"></div>
        <div>상품등록일 : <input type="text" name="regdate" id="regdate"></div>
        <div><button type="button" id="modifybtn">상품수정</button></div>
        <input type="hidden" name="pno" id="pno">
    </form>
<hr>

<script src="/js/product_put.js"></script>

</body>
</html>